/*
html, body {
    margin: 0;
    padding: 0;
  }

*/

body {
    background-color: #FFF;
    color:#000;
    font-size: 14pt;
    font-family: monospace;
    margin-top: 0;
}

audio {
    display: none;
}

#container {
    margin: 0 auto;
    width: 600px;
}

#find {
    border: 2px solid #000;
    background-color: #FFF;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#find:hover {
    background-color: #000;
    color: white;
}

#enter {
    border: 2px solid #000;
    background-color: #FFF;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: right;
}

#enter:hover {
    background-color: #000;
    color: white;
}

#esc {
    border: 2px solid #000;
    background-color: #FFF;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: right;
}

#esc:hover {
    background-color: #000;
    color: white;
}

#messages {
    width: 100%;
    height:400px;
    overflow: auto;
}

.you {
    text-align: right;
}

#input_message {
    resize: none;
    width: 100%;
    font-size: 1.5em;
}

a:link, a:visited, a:active {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #F9266F;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
    border-right: 1px solid #000;
}

/*
li:last-child {
    border-right: none;
}
*/

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menu-list {
    text-align: center;
    text-transform: uppercase;

}

